.app-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px 0px 15px;
  /* margin-left: -10px; */

  background: linear-gradient(
    to right,
    #f8b456,
    #eacdde
  );

  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
  z-index: 1000;
}


.logo img {
  height: 42px;
}
