body {
  margin: 0;
  font-family: Inter, sans-serif;
  background: #f9f9f9;
}

.hero {
  background: rgb(79, 42, 42);
  color: white;
  text-align: center;
  padding: 20px 20px;
}

.hero span {
  color: #f7941d;
}

.primary {
  background: #f7941d;
  border: none;
  padding: 4px 12px;
  font-size: 16px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.plans {
  padding: 10px;
  text-align: center;
}

.grid {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}

.card {
  background: white;
  border: 2px solid #7b2c83;
  border-radius: 16px;
  width: 300px;
  padding: 30px;
}

.card h4 {
  color: #f7941d;
}

.card button {
  background: #7b2c83;
  color: white;
  border: none;
  padding: 5px;
  width: 100%;
  border-radius: 6px;
}

.why {
  background: #fff3e6;
  padding: 60px;
}

.why-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  font-weight: bold;
}

.footer {
  background: #7b2c83;
  color: white;
  padding: 20px;
  text-align: center;
}

.custom-toast-container {
  top: 0px !important;
  position: fixed !important;
  z-index: 99999 !important;
}

.custom-toast-container .Toastify__toast {
  border-radius: 12px;
  padding: 12px 40px 12px 16px;
  position: relative;
  font-size: 14px;
  background-color: #eaf4f8;
  color: #01627d;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 48px;
  width: fit-content;
  max-width: 90vw;
  word-wrap: break-word;
  white-space: normal;
}

.Toastify__close-button--light {
  color: #ed745f;
  opacity: 1;
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.Toastify__close-button {
  color: #fff;
  position: absolute;
  top: 22px;
  right: 10px;
  background: transparent;
  outline: none;
  border: none;
  padding: 0;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.3s ease;
  z-index: 1;
}
