body {
  margin: 0;
  font-family: Inter, sans-serif;
  background: #f9f9f9;
}

.hero {
  background: rgb(79, 42, 42);
  color: white;
  text-align: center;
  padding: 20px 20px;
}

.hero span {
  color: #f7941d;
}

.primary {
  background: #f7941d;
  border: none;
  padding: 4px 12px;
  font-size: 16px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.plans {
  padding: 10px;
  text-align: center;
}

.grid {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}

.card {
  background: white;
  border: 2px solid #7b2c83;
  border-radius: 16px;
  width: 300px;
  padding: 30px;
}

.card h4 {
  color: #f7941d;
}

.card button {
  background: #7b2c83;
  color: white;
  border: none;
  padding: 5px;
  width: 100%;
  border-radius: 6px;
}

.why {
  background: #fff3e6;
  padding: 60px;
}

.why-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  font-weight: bold;
}

.footer {
  background: #7b2c83;
  color: white;
  padding: 20px;
  text-align: center;
}
